/* mobile styles */
@media (max-width: 480px) {
    .burger{
        display: flex !important;
    }
    .navbar {
        max-width: 100vw;
    }

    .navbar .cta-btn-primary {
        display: none !important;
    }

    .navbar .navbar-brand {
        height: 60px;
    }

    .navbar .navbar-header {
        width: 100%;
        max-width: 100vw;
        ;
    }

    .navbar .cta-btn-wrapper {
        display: none !important;
    }

    .navbar .navbar-collapse {
        display: none !important;
    }

    /* homepage cover section mobile styles: start */
    .homepage-cover .cover-services-boxes{
        width: 100vw;
    }
    .homepage-cover .cover-services-boxes a{
        width: 25%;
        min-width: 25%;
        min-height: inherit;
        padding: 5px;
    }
    
    .homepage-cover .cover-services-boxes a img{
        width: 50%;
    }
    
    .homepage-cover .cover-services-boxes a div{
        font-size: 10px;
    }
    
    .homepage-cover .cover-subtitle{
        font-size: 15px !important;
        line-height: 16px !important;
        margin-bottom: 15px;
    }
    
    .homepage-cover h1{
        font-size: 30px;
        line-height: 31px;
        margin-bottom: 15px;
        margin-top: 0px;
    }
    /* homepage cover section mobile styles: end */

    .carousel-block .carousel-row .swiper-slide .item-body .item-content h5 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .carousel-block .carousel-row .swiper-slide {
        padding: 5px;
        border-radius: 7px;
    }

    .carousel-block .carousel-row .swiper-slide .item-body .item-content small {
        font-size: 14px;
        line-height: 16px;
    }

    .carousel-block .carousel-row .swiper-slide .item-body .item-content>div {
        font-size: 14px;
        line-height: 18px;
    }

    .carousel-block .carousel-row .swiper-button-next,
    .carousel-block .carousel-row .swiper-button-prev {
        display: none;
    }

    .carousel-block .carousel-row .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
    }

    /* projects section:start */
    .tabs-block{
        height: inherit;
        min-height: inherit;
    }

    .tabs-block .title-row>div {
        text-align: center;
    }

    .tabs-block .title-row>div h1 {
        margin-bottom: 30px;
    }

    .tabs-block .tab-pills-wrapper .panel-default .nav-tabs {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #4D4D4D !important;
        flex-direction: row;
        padding-bottom: 10px !important;
        column-gap: 0px !important;
        font-size: 12px;
        margin-right: auto;
    }

    .tabs-block .projects-row .project-item .project-title{
        font-size: 13px;
        line-height: 15px;
    }

    .tabs-block .projects-row .project-item .project-location{
        font-size: 11px;
    }

    .tabs-block .projects-row .project-item .item-body .readmore-link a .fas{
        font-size: 12.15px;
        margin-top: 15px;
    }
    
    .tabs-block .projects-row.row {
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }

    .tabs-block .projects-row.row::before,
    .tabs-block .projects-row.row::after {
        display: none;
    }

    .tabs-block .projects-row.row .project-item {
        width: calc(50% - 20px) !important;
    }

    .tabs-block .tab-pills-wrapper ul li a{
        font-size: 13px;
    }

    .tabs-block .tab-pills-wrapper .panel-default>.panel-heading{
        padding: 5px;
    }

    .testimonial-block .testimonial-slider .testimonial-item {
        flex-direction: column !important;
    }

    .testimonial-block .testimonial-prev,
    .testimonial-block .testimonial-next {
        display: none;
    }

    .testimonial-block .testimonial-slider .testimonial-item .image-wrapper {
        width: 100% !important;
        height: 200px;
    }

    .testimonial-block .testimonial-slider .testimonial-item .image-wrapper img {
        width: 100%;
    }

    .testimonial-block .testimonial-slider .testimonial-item .content-wrapper {
        width: 100% !important;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-bottom: 30px;
    }

    .testimonial-block .testimonial-slider .testimonial-item .content-wrapper .user-icon {
        width: 100px;
        margin-top: -50px;
    }


    /* Faq section: start */


    .faq-section .faq-block-title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .faq-section {
        background: inherit;
        min-height: inherit;
        height: inherit;
    }

    .faq-section .faq-block-wrapper{
        margin-right: inherit;;
    }

    .faq-section .faq-block-wrapper .faq-block .panel-heading {
        min-height: 50px;
        
    }

    .faq-section .faq-block-wrapper .faq-block .panel-heading .panel-title a {
        width: 91%;
        padding-right: 20px !important;
        padding-left: 10px;
        display: inline-block;
        line-height: 1.5em;
        font-weight: 600;
    }

    .faq-section .faq-block-wrapper .faq-block .panel-heading .panel-title .target-title {
        width: 95%;
        font-size: 14px;
    }

    .faq-section .faq-block-wrapper .faq-block .panel-heading .panel-title .target-title::after {
        top: 50%;
        right: 30px;
    }

    .faq-section .faq-block-wrapper .faq-block .panel-heading .panel-title .collapsed.target-title::after {
        top: 37%;
        right: 0px;
    }


    .faq-section .faq-block-wrapper .faq-block .panel-heading .panel-title a.collapsed {
        position: relative;
        padding-top: 0px;
        padding-right: 15px;
        width: 95%;
        line-height: 1.5em;
        font-size: 14px;
    }

    .faq-section .faq-block-wrapper .faq-block .panel-body {
        width: 95%;
        font-size: 12px;
    }

    /* FAQ section:end */

    /* blog-section:start */
    .blog-block{
        padding-bottom: 50px;
        }

    .blog-block .blog-section-title {
        font-size: 30px;
    }

    .blog-block .blog-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        overflow: hidden;
        min-width: inherit;
    }

    .blog-block .blog-wrapper .post-1,
    .blog-block .blog-wrapper .post-2 {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        border-radius: 15px;
    }

    .blog-block .blog-wrapper .blog-post .date {
        display: none;
    }

    .blog-block .blog-wrapper .post-2 img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    .blog-block .blog-wrapper .post-3,
    .blog-block .blog-wrapper .post-4 {
        display: none;
    }

    .blog-block .blog-wrapper .blog-post .post-title {
        font-size: 20px;
        line-height: 25px;
    }

    /* blog-section:end */

    /* About us block: start */
    .about-us-block{
        min-height: inherit;
        height: inherit;
    }
    
    .about-us-block .about-us-info-wrapper{
        width: 100%;
        flex-direction: column;
        column-gap:0;
        row-gap: 0;
    }
    
    .about-us-block .about-us-info-wrapper .left-col{
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    
    .about-us-block .about-us-info-wrapper .left-col::after{
        display: none;
    }
    
    .about-us-block .about-us-info-wrapper .right-col .line-1{
        font-size: 75px;
        text-align: center;
        margin-bottom: 5px;
    }
    .about-us-block .about-us-info-wrapper .right-col .line-1{
        font-size: 38px;
        line-height: 39px;
        margin-bottom: 5px;
    }
    
    .about-us-block .about-us-info-wrapper .right-col .line-2{
        font-size:38px;
        line-height: 39px;
        margin-bottom: 15px;
    }
    
    .about-us-block .about-us-info-wrapper .right-col .line-3{
        font-size: 60px;
        line-height: 61px;
        margin-bottom: 5px;
    }
    
    .about-us-block .about-us-info-wrapper .right-col .line-4{
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    
    .about-us-block .about-us-info-wrapper .right-col .line-5{
        font-size: 40px;
        line-height:40px;
        margin-bottom: 5px;
    }

    .about-us-block .card-row{
        display: none;
    }
    /* Abuot us block:end */

    /* Logo slider section:start */
    .logo-slider-block .logo-slider-section-title {
        font-size: 30px;
    }

    .logo-slider-block .logo-slider-section-title::after {
        bottom: 0;
    }

    .logo-slider-block {
        padding-bottom: 60px
    }

    /* Logo slider section:end */

    /* footer section: start */
    .footer-section .google-review-widget img{
        width: 180px;
        transform: translateY(-0px);
        z-index: 99;
    }
    
    .footer-section .google-review-widget{
        transform: translateY(-40px);
        z-index: 99;
    }
    
    .footer-section .footer-main-img{
        display: none;
    }
    
    .footer-section .col-md-7{
        text-align: center;
    }
    
    .footer-section .mobile-only-text{
         display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 250px;
    }
    
    .footer-section .mobile-only-text h2{
        font-size: 35px;
        font-weight: 600;
        color: #fff;
        line-height: 35px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .footer-section .mobile-only-text h3{
        margin-top: 0;
        max-width: 300px;
        line-height: 35px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .footer-section .mobile-only-text h3 span{
        color: #fff !important;
    }
    
    .footer-section .mobile-only-text .btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        column-gap: 10px;
        min-width: 180px;
        align-self: center;
        width: fit-content;
        margin-bottom: 10px;
        border-radius: 50px;
        background-color: #000;
        border-color: #828282;
        padding-right: 20px;
        padding-left: 5px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
    .footer-section .mobile-only-text .btn > div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }
    
    .footer-section .mobile-only-text .btn > img{
        width: 50px;
    }
    .footer-section .mobile-only-text .btn > div .title{
        font-size: 14px;
    }
    
    .footer-section .mobile-only-text .btn > div .contact-no{
        font-weight: 600;
        font-size: 20px
    }
    
    .footer-section .footer-info-row{
        display: flex;
        flex-direction: column-reverse;
    
    }
    
    .footer-section .footer-info-row .col-right{
        margin-bottom: 30px !important;
        background: #1A1A1A;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .footer-section .footer-info-row .col-right h4{
        text-align: center;
    }
    
    .footer-section .footer-info-row .col-right form{
        justify-content: center !important;
            
    }
    
    .footer-section .footer-info-row .col-right form input[type=email]{
        margin-left: inherit;
    }
    
    .footer-bg-wrapper::before{
        background: url('../img/peeping-through-window-mobile.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        z-index: -2;
    }
    
    .footer-bg-wrapper::after{
    background: rgb(0,0,0);
    background:linear-gradient(180deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 75%);
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        content: '';
    }

    .footer-section .icon-list-wrapper{
        display: none;
    }
    
    .footer-section .icon-list-wrapper-mobile{
        display: flex !important;
    }
    
    .address-box .icon-box-content{
        width: 85%;
    }
    
    .footer-section .footer-info-wrapper{
        padding-bottom: 10px;
    }
    
    .footer-section .copyiright-row{
        padding-right: 50px;
        padding-left: 50px;
    }
    
    .footer-section .copyiright-row span{
        display: none;
    }

    .footer-section .footer-main-content{
        display: none;
    }
    /* footer section: end */


    /* carrers page: start */
    .job-vacancy-block{
        padding-top: 70px;
    }

    .job-vacancy-block .title-row h1{
        font-size: 30px;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .job-vacancy-block .title-row h1 span{
        color: var(--primary-yellow)
    }
    
    .job-vacancy-block .panel .nav-tabs{
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 10px;
        justify-content: flex-start;
    }
    
    .job-vacancy-block .panel .nav-tabs::-webkit-scrollbar{
        background-color: transparent;
        width:1px;
    }
    
    .job-vacancy-block .panel .nav-tabs li a{
        white-space: nowrap;
    }
    
    .job-vacancy-block .panel .nav-tabs::-webkit-scrollbar-thumb{
      background-color: #000;
      border-radius: 0px; 
        width:1px;
    }
    
    .job-vacancy-block .panel .nav-tabs::-webkit-scrollbar-track{
      background-color: transparent; 
        width:1px;
    }
    
    .job-vacancy-block .panel-body{
        padding-top: 0px;
    }
    
    .job-vacancy-block .category-tabs .job-post{
        width: calc(100% - 0px);
        display: flex;
        flex-direction: column;
        padding-top: 10px !important;
    }
    
    
    .job-vacancy-block .category-tabs .job-post .type{
        order:-1;
        display: block;
        margin-top: 20px;
        align-self: flex-start;
    }
    
    .job-vacancy-block .category-tabs .job-post h3{
        margin-bottom: 0px;
        margin-top: 10px;
        line-height: 18px;
    }

    /* carrers page: end */

    /* careers page: start */
    .job-info-section{
        padding-top: 80px;
    }
    
    .job-info-section .job-info-title{
        font-size: 30px;
        text-align: center;
    }

    .job-info-section .job-info-title-hr{
        min-width: 90vw;
        max-width: 100vw;
        width: 100%;
    }
    
    
    /* .job-info-section{
       padding-top: 40px;
    } */
    
    .job-info-section .job-info-icon-list{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 10px;
        text-align: center;
        font-size: 16px;
    }
    
    .job-info-section .job-info-icon-list .job-info-icon-list-item{
        width: calc(50% - 15px);
    }
    
    .job-info-section .job-info-icon-list .job-info-icon-list-item:nth-child(2){
        text-align:  left;
    }
    
    .job-info-section .job-info-icon-list .job-info-icon-list-item:nth-child(1){
        text-align:  right;
    }
    
    .job-info-section .job-info-icon-list .job-info-icon-list-item:nth-child(3){
        width: 100%;  
        font-size: 20px;
        font-weight: 600;
    }
    
    .job-info-section .job-info-description{
        text-align: center;
    }
    
    .job-info-section .job-info-tasks,
    .job-info-section .job-info-requirements{
        display: none;
    }
    /* carresrs page: end */

    /* single product page: start */
    .product-single-page-content .product-page-cover .container .product-brief h1{
        font-size: 30px;
    }
    
    .product-single-page-content .product-page-cta-btn-wrapper .product-page-btn-360{
        display: none;
    }
    
    .product-single-page-content .product-page-short-discription{
        max-width: 90vw;
        min-width: 200px;
        width: 100%
    }

    .product-single-page-content .product-features .feature-list-row .feature-list{
        flex-direction: column;
        padding-left: 20px;
    }
    
    .product-single-page-content .feature-list .feature-list-item{
        width: 100%;
    }
    .product-single-page-content .product-features .feature-list-row{
        margin-bottom: 10px;
    }
    /* single product page: end */

    /* blinds/categories page: start */
    
    .grid-section .projects-row .project-item{
        width: calc(50% - 10px) !important;
    }
    
    .grid-section .projects-row.row{
        flex-wrap: wrap;
        row-gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .grid-section .projects-row.row::before,
    .grid-section .projects-row.row::after{
       display: none; 
    }
    
    .grid-section h1{
        margin-bottom: 25px;
    }
    /* blinds/categories page: end */


}