/* 
components and theme specific styles goes here.
*/

:root{
    --primary-yellow: #D59117;
}

/* utility helpers */
.upper-text{
    text-transform: uppercase !important;
}

.white-text{
    color: #fff !important;
}

.theme-yellow-text{
    color: var(--primary-yellow) !important;
}

.white-bg{
    background-color: #fff !important;
}

.theme-yellow-bg{
    background-color: var(--primary-yellow);
}

body{
    background-color: #000;
    color: var(--primary-yellow);
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 55px;
    line-height: 60px;

}

h1.underlined{
    /* display: inline-block; */
    position: relative;
    max-width: fit-content;
    padding-bottom: 21px;
}

h1.underlined::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

h2{
    font-size: 45px;
    line-height: 55px;
}

h3{
    font-size: 35px;
    line-height: 45px;
}

h4{
    font-size: 30px !important;
}



h1 span{
    color: var(--primary-yellow);
}

/* theme buttons */

.theme-primary-btn{
    background-color: var(--primary-yellow);
    color: #000;
    border-radius: 50px;
    min-width: 200px;
    outline: none;
    box-shadow: none;
    border: none;
    min-height: 60px;
    /* font-family: 'Spartan', sans-serif; */
    line-height: 14px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    transition: all ease-in-out 0.35s;
}

.theme-primary-btn:hover{
    background-color: #ba7f10;
    color: #000;
}

.theme-primary-btn:focus,
.theme-primary-btn:active{
    background-color: var(--primary-yellow);
        border:none;
    outline: none;
    box-shadow: none;
    color: #000;
}
.theme-primary-btn .fas{
    margin-left: 13px;
    transform: translateY(-1px);
}

@media (max-width: 480px) {
    h1{
        font-size: 30px;
        line-height: 45px;
    }
    
    h2{
        font-size: 26px;
        line-height: 40px;
    }
    
    h3{
        font-size: 22px;
        line-height: 45px;
    }
    
    h4{
        font-size: 20px !important;
    }
}

/* container fixes */

@media (min-width: 1366px){
    section > .container > .row,
    .footer-section .footer-bg-wrapper .container > .row,
    .footer-section .footer-info-wrapper .container > .row{
        margin-left: -60px;
        margin-right: -60px;
    }
}

@media ( min-width:1440px ){

    section > .container > .row,
    .footer-section .footer-bg-wrapper .container > .row,
    .footer-section .footer-info-wrapper .container > .row{
        margin-left: -80px;
        margin-right: -80px;
    }

    
}

@media ( min-width:1600px ){

    section > .container > .row,
    .footer-section .footer-bg-wrapper .container > .row,
    .footer-section .footer-info-wrapper .container > .row{
        margin-left: -160px;
        margin-right: -160px;
    }

    
}

@media ( min-width:1920px ){

    section > .container > .row,
    .footer-section .footer-bg-wrapper .container > .row,
    .footer-section .footer-info-wrapper .container > .row{
        margin-left: -230px;
        margin-right: -230px;
    }

}